/*FÄRGER*/
html {
background-color: #992323;
}

header, article, footer, nav { /*Själva elementen med text*/
	background-color: #ffcc11;
}

a, a:visited { /*LÄNKAR*/
	color: black;
}

a:hover { 
	color: red;
}


* { /*Gäller samtliga element*/
font-family: Arial, Helvetica, sans-serif;
}

.imgdiv {
	display: flex;
	justify-content: space-around;
}

h1, h2, h3, .toptext {
	text-align: center;
	font-size: 1.5em;
}

p, b {
	font-size: 1.5em;
}

article {
	width: 700px;
	margin: auto;
	padding: 2% 10%;
	align-content: center;
}


header {
	padding: 2% 10%;
	width: 700px;
	margin: auto;
}

header, article, footer, nav {
	margin: 20PX AUTO;
	border-radius: 10px;
}

nav, footer {
	width: 700px;
	display: flex;
	justify-content: space-around;
	margin: auto;
	padding: 2% 10%;
	font-size: 2em;
}

.styrelsecontainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.styrelse {
	border: 3px solid black;
	width: 90%;
	display: grid;
	justify-content: center;
	margin: 5%;
}

.styrelse h3, p, b, span, i {
	text-align: center;
	margin: 0;
}

i {
	width: 100%;
}

img { /*Gäller samtliga bilder*/
	border-radius: 5%;
}

.butt {
	width: 100%;
}

.styrelse img {
	height: 315px;
	width: auto;
	aspect-ratio: 1/1;
	margin-bottom: 5%;
	border-radius: 0%;
}

header img {
	width:  400px;
	height: auto;
	margin: 0 40%;
}


.intro {
	align-content: center;
}

summary:hover {
	cursor: pointer;
}

.lore_img {
	width: 100%;
}

