@font-face {
	font-family: LemonMilk;
	src: url("../fonts/LEMONMILK-Regular.otf");
}

@font-face {
	font-family: LemonMilkBold;
	src: url("../fonts/LEMONMILK-Bold.otf");
}

@font-face {
	font-family: HelveticaNeueMedium;
	src: url("../fonts/HelveticaNeue-Medium.otf");
}

@font-face {
	font-family: HelveticaNeueBold;
	src: url("../fonts/HelveticaNeue-Bold.otf");
}

@font-face {
	font-family: HelveticaNeueLight;
	src: url("../fonts/HelveticaNeue-Light.otf");
}

/*FÄRGER*/
* {
	padding: 0;
	margin: 0;
}

html {
	background-color: #992323;
}

header, article, footer, nav { /*Själva elementen med text*/
	background-color: #f9f2db;
	border: 3px solid #ffcc11;
}

.nav-links a, .nav-links a:visited { /*LÄNKAR*/
	font-family: HelveticaNeueBold;
	color: black;
	text-decoration: none;
}

.nav-links a:hover { 
	color: red;
}


* { /*Gäller samtliga element*/
	font-family: HelveticaNeueLight;
	font-size: 1em;
}

.imgdiv {
	display: flex;
	justify-content: space-around;
	
}

h1, h2, h3, .toptext {
	text-align: center;
	font-size: 1.5em;
}

p {
	font-size: 1.5em;
}

article {
	width: 700px;
	padding: 2% 10%;
	align-content: center;
}

article img {
	border: 3px solid #992323;
}

header {
	padding: 2% 10%;
	width: 700px;
	margin: auto;
}

header, article, footer, nav {
	margin: 20px auto;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgb(0 0 0 / 35%);
}

nav, footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	font-size: 1.5em;
}

nav {
	background-color: #ffcc11;
	border-radius: 0px;
	border: 0px;
	margin: 0;
	box-shadow: 0px 5px 10px rgb(0 0 0 / 35%);
}

.nav-links a {
	padding: 22px 0;
}

footer {
	background-color: #ffcc11;
	border-radius: 0px;
	border: 0px;
	margin: 0;
	padding: 0.8% 0;
}

footer span {
	font-family: HelveticaNeueMedium;
}

.styrelsecontainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.styrelse {
	border: 3px solid #992323;
	background-color: #ffcc11;
	width: 90%;
	display: grid;
	justify-content: center;
	margin: 5%;
	box-shadow: 3px 3px 5px rgb(0 0 0 / 35%);
	
}

.styrelse h3, .styrelse img, p, b, span, i {
	text-align: center;
	margin: 0;
}

.styrelse img {
	border-bottom: 3px solid #992323;
}

i {
	width: 100%;
}

img { /*Gäller samtliga bilder*/
	border-radius: 3%;
	margin-top: 40px;
	
}

.butt {
	width: 100%;
}

.styrelse img {
	height: 315px;
	width: auto;
	aspect-ratio: 1/1;
	margin-bottom: 5%;
	border-radius: 0%;
}


header {
	background-image: url(../img/Dork\ bakgrund\ header\ smaller\ but\ bigger.png);
	background-size: 100%;
	height: 490px;
	background-size: fill;
}

.intro {
	align-content: center;
}

summary:hover {
	cursor: pointer;
}

.lore_img {
	width: 100%;
}

marquee {
	font-family: HelveticaNeueMedium;
	color: #992323;
	text-shadow: 1px 1px 1px rgb(0 0 0 / 35%);
	font-size: 20px;
}

.DORK {
	font-family: LemonMilkBold;
	color: #992323;
	-webkit-text-stroke: 2px black;
	margin-top: 2px;
	font-size: 50px;
}

.DORK a {
	padding: 0;
	margin: 0;
	color: #992323;
}

article a {
	font-family: HelveticaNeueLight;
	align-content: center;
}

/*GRIDS*/
nav{
	display: flex;
	justify-content: center;
}

.grid-container {
	width: 1170px;	
	display: grid;
	grid-template-columns: repeat(9	, 1fr);
}

.nav-links {
	grid-area: 1 / 6 / 2 / 9;
	display: flex;
	justify-content: space-around;
}

.nav-links a {
	font-size: 20px;
}

.DORK {
	grid-area: 1 / 1 / 2 / 5;
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.DORK a {
	padding: 0;
	color:#992323;
}


.link-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-content: center;
}

.link-grid a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%; /* Ensure the link takes up the entire grid cell */
}

.link-grid img {
	height: 120px;
	width: auto;
	border: none;
	margin: auto;
}

.link-grid img:hover {
	filter: drop-shadow(1px 1px 1px rgb(0, 0, 0, 40%));
	cursor: pointer;
}

.nav-links a.underlined {
	text-decoration: underline;
}

/*Mobile experience*/
@media (pointer:none), (pointer:coarse) {
	nav {
		height: 10vw;
	}

	.nav-links {
		grid-area: 1 / 5 / 2 / 9;
		display: flex;
		justify-content: space-between;
	}

	.nav-links a {
		font-size: 40px;
	}

	.DORK {
		font-size: 70px;
	}	
}
