@font-face {
	font-family: LemonMilk;
	src: url("../fonts/LEMONMILK-Regular.otf");
}

@font-face {
	font-family: LemonMilkBold;
	src: url("../fonts/LEMONMILK-Bold.otf");
}

@font-face {
	font-family: HelveticaNeueMedium;
	src: url("../fonts/HelveticaNeue-Medium.otf");
}

@font-face {
	font-family: HelveticaNeueBold;
	src: url("../fonts/HelveticaNeue-Bold.otf");
}

@font-face {
	font-family: HelveticaNeueLight;
	src: url("../fonts/HelveticaNeue-Light.otf");
}

/*FÄRGER*/
* {
	padding: 0;
	margin: 0;
}

html {
	background-color: #992323;
}

header, article, footer, nav { /*Själva elementen med text*/
	background-color: #f9f2db;
	border: 3px solid #ffcc11;
}

.nav-links a, .nav-links a:visited, article a, article a:visited { /*LÄNKAR*/
	font-family: HelveticaNeueBold;
	color: black;
	text-decoration: none;
}

.nav-links a:hover, article a:hover { 
	color: red;
}


* { /*Gäller samtliga element*/
	font-family: HelveticaNeueLight;
	font-size: 1em;
}

.imgdiv {
	display: flex;
	justify-content: space-around;
	
}

h1, h2, h3, .toptext {
	text-align: center;
	font-size: 1.5em;
}

p {
	font-size: 1.5em;
}

article {
	min-height: 40vh;
	width: 700px;
	padding: 2% 10%;
	align-content: center;
}

article img {
	border: 3px solid #992323;
}

header {
	padding: 2% 10%;
	width: 700px;
	margin: auto;
}

header, article, footer, nav {
	margin: 20px auto;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgb(0 0 0 / 35%);
}

nav, footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	font-size: 1em;
	
}

nav {
	background-color: #ffcc11;
	border-radius: 0px;
	border: 0px;
	margin: 0;
	box-shadow: 0px 5px 10px rgb(0 0 0 / 35%);
}

.nav-links a {
	padding: 22px 0;
}

footer {
	background-color: #ffcc11;
	border-radius: 0px;
	border: 0px;
	margin: 0;
	padding: 0.8% 0;
}

footer span {
	font-family: LemonMilkBold;
}

.styrelsecontainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.styrelse {
	border: 3px solid #992323;
	background-color: #ffcc11;
	width: 90%;
	display: grid;
	justify-content: center;
	margin: 5%;
	box-shadow: 3px 3px 5px rgb(0 0 0 / 35%);
	
}

.styrelse h3, .styrelse img, p, b, span, i {
	text-align: center;
	margin: 0;
}

.styrelse img {
	border-bottom: 3px solid #992323;
}

i {
	width: 100%;
}

img { /*Gäller samtliga bilder*/
	border-radius: 3%;
	margin-top: 40px;
}


.butt {
	width: 100%;
}

.styrelse img {
	height: 315px;
	width: auto;
	aspect-ratio: 1/1;
	margin-bottom: 5%;
	border-radius: 0%;
}


header {
    background-image: url("../img/bullens.jpg");
    height: 40vh;
    max-height: 300px;
    background-size: cover; /* Make background responsive */
    text-align: center;
    display: flex; /* Use flexbox */
    justify-content: center; /* Horizontally center the logo */
    align-items: center; /* Vertically center the logo */
    position: relative;
}


.logo {
    width: 90%; /* Set width relative to parent container */
    max-width: 250px; /* Limit maximum size for large screens */
    height: auto; /* Maintain aspect ratio */
    margin: 0; /* Remove margin */
}

.logo:hover {
    width: 95%;
    max-width: 260px;
}


.intro {
	align-content: center;
}

summary:hover {
	cursor: pointer;
}

.lore_img {
	width: 100%;
}

marquee {
	font-family: HelveticaNeueMedium;
	color: #992323;
	text-shadow: 1px 1px 1px rgb(0 0 0 / 35%);
	font-size: 20px;
}

.DORK {
	font-family: LemonMilkBold;
	color: #992323;
	-webkit-text-stroke: 2px black;
	margin-top: 2px;
	font-size: 50px;
}

.DORK a {
	padding: 0;
	margin: 0;
	color: #992323;
}

article a {
	font-family: HelveticaNeueLight;
	align-content: center;
}

/*GRIDS*/
nav{
	display: flex;
	justify-content: center;
}

.grid-container {
	width: 1170px;	
	display: grid;
	grid-template-columns: repeat(9	, 1fr);
}

.nav-links {
	grid-area: 1 / 6 / 2 / 9;
	display: flex;
	justify-content: space-around;
}

.nav-links a {
	font-size: 20px;
}

.DORK {
	grid-area: 1 / 1 / 2 / 5;
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.DORK a {
	padding: 0;
	color:#992323;
}


.link-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-content: center;
}

.link-grid a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%; /* Ensure the link takes up the entire grid cell */
}

.link-grid img {
	height: 120px;
	width: auto;
	border: none;
	margin: auto;
}

.link-grid img:hover {
	filter: drop-shadow(1px 1px 1px rgb(0, 0, 0, 40%));
	cursor: pointer;
}

.nav-links a.underlined {
	text-decoration: underline;
}

/*Mobile experience*/
@media (pointer:none), (pointer:coarse) {
	
.DORK {
	grid-area: 2 / 1 / 1 / 4;
	}

	nav, footer {
		height: 20vw;
		align-items: center;
	}

	.nav-links {
		grid-area: 1 / 5 / 2 / 9;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

    .nav.links a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }


	.nav-links a, footer span {
		font-size: 40px;
	}

	.DORK {
		font-size: 85px;
	}	

	article {
		min-height: 60vh;
	}
}

.bookshelf {
    gap: 100px;
    background-color: #654321;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.bookshelf .row {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   margin: 20px;
   height: 100px;
   outline: 3px #000 solid;
   padding: 1%;
   background-color: #342719;
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
}


.bookshelf {
    border-top:5px solid #342719;
    border-bottom:5px solid #654321;
    border-left:5px solid #342719;
    border-right:5px solid #654321;
}

.bookshelf .game, .bookshelf .decor {
    margin: 10px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.bookshelf .game:hover {
  filter: drop-shadow(5px 5px 15px white) 
          drop-shadow(-5px -5px 15px white);
}

#ratSpeech {
  position: relative;
  display: inline-block;
  margin-left: 16px;
  padding: 16px;
  border: 1px solid #000000;
  border-radius: 12px;
  background-color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

#ratSpeech::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 0 16px 16px 0;
  border-color: transparent #000000 transparent transparent;
  translate: -100% -50%;
  transform: skew(0, -10deg);
  transform-origin: right;
}

#ratSpeech::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 0 13.6px 13.6px 0;
  border-color: transparent #ffffff transparent transparent;
  translate: -100% calc(-50% - 0.2px);
  transform: skew(0, -10deg);
  transform-origin: right;
}


.game img, .decor img {
    height: 95px;
    margin: 0;
    border: unset;
}

.top-of-shelf {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 90px;
 }

.top-of-shelf .decor img {
	height: 200px;
}

.top-of-shelf {
	height: 200px;
}

.bottom-of-shelf {
	display: flex;
	justify-content: space-between;
	height: 90px;
 }

 .feet {
	height: 90px;
	width: 30px;
    background-color: #654321;
    border: 2px solid #342719;
    border-top: unset;
 }
 
 .bottom-of-shelf img {
height: 50px;
border: unset;
 }

 .blink_me {
     animation: blinker 1s linear infinite;
     }

     @keyframes blinker {
     45%, 55% {
         color:red;
     }
 }

@media (max-width: 900px) {
    body {
       /* background-color: lightblue; */
    }

    header, footer, nav {
        width: 100%;
        margin: auto;
        padding: 0;
    }
    
    header {
        margin: 10px auto;
        width: 90%;
        padding: 2%;
    }

    article {
        width: 90%;
        padding: 2%;
    }

    .nav-links a, .nav-links a:visited, article a, article a:visited {
        font-size: 3vw;
        padding: 3vw;
        margin-right: 2vw;
    }

    .DORK {
        font-size: 10vw;
    }

    .styrelsecontainer {
        width: 60vw;
    }

    .styrelse {
        width: 40vw;
        margin: 2vw;
    }

    .styrelse img { 
        height: 40vw;
        width: auto;
        aspect-ratio: 1/1;
    }

    .bookshelf {
        gap: 10px;
        background-color: #654321;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .bookshelf .row {
       display: grid;
       grid-template-columns: repeat(5, 1fr);
       margin: 20px;
    }


    .bookshelf {
        border-top:5px solid #342719;
        border-bottom:5px solid #654321;
        border-left:5px solid #342719;
        border-right:5px solid #654321;
    }

    .row .game img, .row .decor img {
        margin: 0;
        width: 9vw;
        max-height: 100%;
        border: unset;
        aspect-ratio: auto;
        margin: 0;
        padding: 0;
    }

    .decor img a, .game img a {
        padding: 0;
    }


    .bookshelf .game, .bookshelf .decor {
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    }

    .bookshelf .game:hover {
      filter: drop-shadow(5px 5px 15px white) 
              drop-shadow(-5px -5px 15px white);
    }

    .link-grid a {
        padding: 0px;
    }

    .link-grid img {
       height: 15vw; 
    }
} 
